<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Accept a card payment</title>
    <meta name="description" content="A demo of a card payment on Stripe" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" th:href="@{/css/global.css}"> 
	<link rel="icon" th:href="@{/img/slash.png}">
	
    <script src="https://js.stripe.com/v3/"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
    
	<script th:inline="javascript">
	
	      /*<![CDATA[*/
		    
	         var loc = /*[[${baseUrl}]]*/ 'baseUrl';
	         var stripePublicKey = /*[[${stripePublicKey}]]*/ 'stripePublicKey';
	         var totalPrice = /*[[${totalPrice}]]*/ 'totalPrice';
	         var name = /*[[${name}]]*/ 'name';
	         var tel = /*[[${tel}]]*/ 'tel';
	         var email = /*[[${email}]]*/ 'email';
			 
	       /*]]>*/
	</script>     
	
    <script src="client.js" defer></script> 
    
  </head>

  <body>
    <!-- Display a payment form -->
    <form id="payment-form">
      <p><b>Please input your payment card information</b></p>
      <p>If you click the Pay button, you will be billed HKD [[${totalPriceString}]] </p>
      <div id="card-element"><!--Stripe.js injects the Card Element--></div>
      <button id="submit">
        <div class="spinner hidden" id="spinner"></div>
        <span id="button-text">Pay</span>
      </button>
      <p id="card-error" role="alert"></p>
      <p class="result-message hidden">
        Payment succeeded, pls click 
        <a href="">here </a> to return shopping cart.
      </p>
    </form>
  </body>
</html>
