<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
      
      
<head th:fragment="html_head">

    <meta charset="ISO-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dbiz</title>

   <!-- Our Custom CSS -->
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">        
    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	
    <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

    <script type="text/javascript" th:href="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>    

	<script src="https://kit.fontawesome.com/632bf0e573.js" crossorigin="anonymous"></script>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    
    <link rel="stylesheet" th:href="@{/css/style3.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">    
    <link rel="icon" th:href="@{/img/slash.png}">
    
    <script type="text/javascript">

        $(document).ready(function () {
            $("#sidebar").mCustomScrollbar({
                theme: "minimal"
            });

            $('#dismiss, .overlay').on('click', function () {
                $('#sidebar').removeClass('active');
                $('.overlay').removeClass('active');
            });

            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').addClass('active');
                $('.overlay').addClass('active');
                $('.collapse.in').toggleClass('in');
                $('a[aria-expanded=true]').attr('aria-expanded', 'false');
            });
        });
       
        
    </script>

</head>

<body>

    <div class="wrapper">
    
        <!-- Sidebar  -->
        <nav id="sidebar" th:fragment="html_sidebar">
	            <div id="dismiss">
	                <i class="fas fa-arrow-left"></i>
	            </div>
	
	            <div class="sidebar-header">
	                <img th:src="@{/img/slash.png}" style="width:7vd;margin-top:20px;" alt="">
	            </div>
	
	            <ul class="list-unstyled components">
	                <li id="side-bar-home">
	                    <a th:href="@{/}">Home</a>
	                </li>            	
	                <li id="side-bar-solution">
	                
	                    <a href="#side-bar-solution-submenu" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle">Solution</a>
	                    <ul class="collapse list-unstyled" id="side-bar-solution-submenu">
	                        <li id="side-bar-solution-acqusition">
	                            <a th:href="@{/solution_acqusition/}">Acqusition</a>
	                        </li> 
	                        <li id="side-bar-solution-validation">
	                            <a th:href="@{/solution_validation/}">Validation</a>
	                        </li>
	                        <li id="side-bar-solution-activation">
	                            <a th:href="@{/solution_activation/}">Activation & Incentivizing</a>
	                        </li>
	                        <li id="side-bar-solution-retention">
	                            <a th:href="@{/solution_retention/}">Retention & Referral</a>
	                        </li>
	                        <li id="side-bar-solution-revenue">
	                            <a th:href="@{/solution_revenue/}">Revenue</a>
	                        </li>		                        	                        
	                          	                          	                                                                                                                                                            
	                    </ul>                   
	                </li>
	                <li id="side-bar-client">
	         			<a th:href="@{/client/}">Clients</a>
	                </li>                          
	                <li id="side-bar-about">
	                    <a th:href="@{/about/}">About</a>
	                </li>
	                <li id="side-bar-let-talk">
	                    <a th:href="@{/let_talk/}">Let's Talk</a>
	                </li>
	                
	                <li id="side-bar-shopping-cart">
	                    <a th:href="@{/shopping_cart/}">Shopping Cart</a>
	                </li>		                	                
	            </ul>
	
	    </nav>
		
		<nav class="navbar" th:fragment="html_navbar">
			<div class="nav-container">
				<div class="header-logo">
					<a th:href="@{/}">
						<img th:src="@{/img/slash.png}" alt="home">
					</a>		
				</div>
				<nav>		  
				      <ul class="primary-nav">
				          <li id="solution-nav" class="nav-item dropdown">
							    <a class="nav-link " data-toggle="dropdown" href="#">SOLUTION</a>
							    <div class="dropdown-menu">
							      <a class="dropdown-item" th:href="@{/solution_acqusition}">Acquisition</a>
							      <a class="dropdown-item" th:href="@{/solution_validation}">Validation</a>
							      <a class="dropdown-item" th:href="@{/solution_activation}">Activation & Incentivizing</a>
							      <a class="dropdown-item" th:href="@{/solution_retention}">Retention & Referral</a>
							      <a class="dropdown-item" th:href="@{/solution_revenue}">Revenue</a>
							    </div>
						  </li>			          
				          
				          <li id="client-nav"  ><a th:href="@{/client}">CLIENTS</a></li>
				          <li id="about-nav" ><a th:href="@{/about}">ABOUT</a></li>
				          <li id="let-talk-nav" ><a th:href="@{/let_talk}" >LET'S TALK</a></li>
				      </ul>
				
				      <ul class="secondary-nav">
				      	   <li><a th:href="@{/register_login}">
		                   	<i class="far fa-user user-icon"></i>
		                   </a></li>				      
		                   <li><a href="#" class="search">
		                   	<img class="nav-icon" th:src="@{/img/search.png}" alt="search">
		                   </a></li>
		                   <li><a th:href="@{/shopping_cart}" id="shoppingCart-nav">
		                       <img class="nav-icon" th:src="@{/img/shopping-cart.svg}" alt="shopping cart">
		                   </a></li>		                   
		                   <li id="sidebar-nav" ><a href="#" class="show-sidebar" id="sidebarCollapse">
		                       <img class="nav-icon" th:src="@{/img/menu.png}" alt="show sidebar">
		                   </a></li>
				      </ul>	
				</nav>
			</div>	  			  	  
		</nav>	

		<section class="client" th:fragment="html_retail_support_client">
			<div class="container">
				<p style="font-size:25px;font-weight:bold;">Retail Support Clients</p>
			</div>
			<div class="client-list">
				<div class="client-img"><img th:src="@{/img/kao.png}"></div>
				<div class="client-img"><img th:src="@{/img/johnsons-baby.png}"></div>
				<div class="client-img"><img th:src="@{/img/dove-logo-vector.svg}"></div>
				<div class="client-img"><img th:src="@{/img/darlie.png}" ></div>
				<div class="client-img"><img th:src="@{/img/mustela.png}"></div>
				<div class="client-img"><img th:src="@{/img/LISTERINE.png}"></div>
				<div class="client-img"><img th:src="@{/img/pocari.png}"></div>
			    <div class="client-img"><img th:src="@{/img/amoy.png}"></div>  
				<div class="client-img"><img th:src="@{/img/attack.jpg}"></div>
				<div class="client-img"><img th:src="@{/img/magiclean.png}"></div>
				<div class="client-img"><img th:src="@{/img/laurier.jpg}"></div>
				<div class="client-img"><img th:src="@{/img/knorr.png}" ></div>
				<div class="client-img"><img th:src="@{/img/tresemme.png}"></div>
				<div class="client-img"><img th:src="@{/img/clear.png}"></div>
				<div class="client-img"><img th:src="@{/img/carefree.png}"></div>	
				<div class="client-img"><img th:src="@{/img/lactacyd.png}"></div>
				<div class="client-img"><img th:src="@{/img/mobility.jpg}"></div>
				<div class="client-img"><img th:src="@{/img/aveeno.png}"></div>
				<div class="client-img"><img th:src="@{/img/ogp.png}" ></div>
				<div class="client-img"><img th:src="@{/img/liu.jpg}"></div>
				<div class="client-img"><img th:src="@{/img/lux.jpg}"></div>
				<div class="client-img"><img th:src="@{/img/ulos.jpg}"></div>
			    <div class="client-img"><img th:src="@{/img/essentiale.png}"></div>  
				<div class="client-img"><img th:src="@{/img/FDRC.jpg}"></div>
				<div class="client-img"><img th:src="@{/img/5-Hour_Energy.png}"></div>
				<div class="client-img"><img th:src="@{/img/ob.jpeg}"></div>
				<div class="client-img"><img th:src="@{/img/Merci-Logo.jpg}" ></div>
				<div class="client-img"><img th:src="@{/img/wechatpay.webp}"></div>			
			</div>
		</section>
		<br>
		
		<section class="client" th:fragment="html_client">
			<div class="container">
				<p style="font-size:25px;font-weight:bold;">IT Solution Clients</p>
			</div>
			<div class="client-list">
				<div class="client-img"><img th:src="@{/img/sar.png}"></div>
				<div class="client-img"><img th:src="@{/img/cableTV.png}"></div>
				<div class="client-img"><img th:src="@{/img/NTT.png}"></div>
				<div class="client-img"><img th:src="@{/img/FubonBank.png}" ></div>
				<div class="client-img client-img-wide"><img th:src="@{/img/CityU.png}"></div>
				<div class="client-img"><img th:src="@{/img/PolyU.png}"></div>
				<div class="client-img"><img th:src="@{/img/AbaCare.png}"></div>
			    <div class="client-img"><img th:src="@{/img/BoWa.png}"></div>  
				<div class="client-img"><img th:src="@{/img/hiplink.png}"></div>
				<div class="client-img"><img th:src="@{/img/fujikon.png}"></div>
				<div class="client-img"><img th:src="@{/img/purapharm.png}"></div>
				<div class="client-img"><img th:src="@{/img/FubonBank.png}" ></div>
				<div class="client-img"><img th:src="@{/img/pccw.png}"></div>
				<div class="client-img client-img-wide"><img th:src="@{/img/chamber.png}"></div>
				<div class="client-img"><img th:src="@{/img/hung_fook_tong.png}"></div>	
			</div>
		</section>
			        
		<section class="let-talk" th:fragment="html_let-talk">
	        <div class="container">
	            <p style="font-size:34px;font-weight:bold;">LET'S TALK</p>
				<p>Want to understand how Slash Generation can help your business? 
				Fill in below and we will reach you soon!
				</p>
					<form id="let-talk-form" method="get" th:action="@{/send_mail}" >
						<div>
							<input placeholder='Email Address' name="email" id="email" />
							<button class="let-talk-button" >ENTER</button>
						</div>
					</form>							
	        </div>			
		</section>

		<section class="footer" th:fragment="html_footer">
	        <div class="container">
				    <div> 
						<div style="display:flex;flex-wrap: wrap;">
							<div style="white-space: nowrap;">
								<i class="fas fa-phone-alt"></i> 3914 5465
							</div>
							<div style="white-space: nowrap;">&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;</div> 
							<div style="white-space: nowrap;">
								<i class="far fa-envelope"></i> client@missionpick.com
							</div>
						</div>
						<div>
						<i class="fas fa-map-marker-alt"></i> Flat 1215, Profit Industrial Building, 1-15 Kwai Fung Crecent, 
						Kwai Chung, N.T.
						</div>
				    </div>
				    <div>
				    	<div style="font-size: 18px;font-weight: bold;">
						 Follow us on Facebook
						</div>
						<div style="display:flex;flex-wrap: nowrap;">
							<a href="https://missionpick.com/zh/home-c/"><img th:src="@{/img/mission_pick_transparent.png}" 
								style="height: 2rem;margin-right: 30px;" alt=""></a>
						    <a href="https://pickeers.com"><img th:src="@{/img/pickeers-white.png}" 
								style="height: 1.5rem;margin-top: 12px" alt=""></a>

						</div>
					</div> 
	        </div>			
		</section>

</body>
</html>